<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>encode</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <filter>
    <description>过滤器处理全站乱码</description>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>com.example.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <description>过滤器实现30天自动登录</description>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>com.example.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <description>用户访问权限控制过滤器配置</description>
    <filter-name>PrivilegeFilter</filter-name>
    <filter-class>com.example.filter.PrivilegeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrivilegeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.example.listener.MyHttpSessionListener</listener-class>
  </listener>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ValiImg</servlet-name>
    <servlet-class>com.example.web.ValiImg</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.example.web.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>com.example.web.ActiveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.example.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.example.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddProdServlet</servlet-name>
    <servlet-class>com.example.web.AddProdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProdListServlet</servlet-name>
    <servlet-class>com.example.web.ProdListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ImgServlet</servlet-name>
    <servlet-class>com.example.web.ImgServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProdInfoServlet</servlet-name>
    <servlet-class>com.example.web.ProdInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.example.web.AddCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelCartServlet</servlet-name>
    <servlet-class>com.example.web.DelCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeCartServlet</servlet-name>
    <servlet-class>com.example.web.ChangeCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ClearCartServlet</servlet-name>
    <servlet-class>com.example.web.ClearCartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>com.example.web.AddOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>com.example.web.OrderListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelOrderServlet</servlet-name>
    <servlet-class>com.example.web.DelOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>com.example.web.PayServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Callback</servlet-name>
    <servlet-class>com.example.web.Callback</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SaleListServlet</servlet-name>
    <servlet-class>com.example.web.SaleListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ValiNameServlet</servlet-name>
    <servlet-class>com.example.web.ValiNameServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadMsgServlet</servlet-name>
    <servlet-class>com.example.web.UploadMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiImg</servlet-name>
    <url-pattern>/ValiImg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/ActiveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProdServlet</servlet-name>
    <url-pattern>/AddProdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProdListServlet</servlet-name>
    <url-pattern>/ProdListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImgServlet</servlet-name>
    <url-pattern>/ImgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProdInfoServlet</servlet-name>
    <url-pattern>/ProdInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelCartServlet</servlet-name>
    <url-pattern>/DelCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeCartServlet</servlet-name>
    <url-pattern>/ChangeCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClearCartServlet</servlet-name>
    <url-pattern>/ClearCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/AddOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/OrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelOrderServlet</servlet-name>
    <url-pattern>/DelOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Callback</servlet-name>
    <url-pattern>/Callback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaleListServlet</servlet-name>
    <url-pattern>/SaleListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiNameServlet</servlet-name>
    <url-pattern>/ValiNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadMsgServlet</servlet-name>
    <url-pattern>/UploadMsgServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SceneListServlet</display-name>
    <servlet-name>SceneListServlet</servlet-name>
    <servlet-class>com.example.web.SceneListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SceneListServlet</servlet-name>
    <url-pattern>/SceneListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSceneServlet</display-name>
    <servlet-name>AddSceneServlet</servlet-name>
    <servlet-class>com.example.web.AddSceneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSceneServlet</servlet-name>
    <url-pattern>/AddSceneServlet</url-pattern>
  </servlet-mapping>
</web-app>